<h2 align="center">Регистрация</h2>

<%= form_with url: 'create', method: :post do |form| %>
	<p>
		<%= form.label 'Придумайте логин', class: 'form-label' %>
		<%= form.text_field :login, placeholder: 'Логин', class: 'form-control', id: 'login' %>
	</p>
	<p>
		<%= form.label 'Введите ФИО', class: 'form-label' %>
		<%= form.text_field :name, placeholder: 'ФИО', class: 'form-control', id: 'name' %>
	</p>
	<p>
		<%= form.label 'Введите дату рождения', class: 'form-label' %>
		<%= form.date_field :date, placeholder: 'ДД.ММ.ГГГГ', class: 'form-control', id: 'date' %>
	</p>
	<p>
		<%= form.label 'Введите секретное число (для восстановления пароля)', class: 'form-label' %>
		<%= form.number_field :secret_number, placeholder: 'Секретное число', class: 'form-control', id: 'secret_number' %>
	</p>
	<p>
		<%= form.label 'Введите e-mail', class: 'form-label' %>
		<%= form.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email' %>
	</p>
	<p>
		<%= form.label 'Введите пароль', class: 'form-label' %>
		<%= form.password_field :password, class: 'form-control', id: 'password' %>
	</p>
	<p>
		<%= form.label 'Подтвердите пароль', class: 'form-label' %>
		<%= form.password_field :password_confirmation, class: 'form-control', id: 'password-confirmation' %>
	</p>
	<p>
		<%= form.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
	</p>
<% end %>
