<nav class="navbar navbar-expand-lg" class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if session[:user_id].nil? %>
          <li class="nav-item">
              <%= link_to 'OSSIF', '/main/input', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Вход', '/sessions/new', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Регистрация', '/users/new', class: 'nav-link active' %>
          </li>
        <% elsif User.find(session[:user_id]).superuser %>
          <li class="nav-item">
              <%= link_to 'Пользователи', '/users/users_data', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Рейтинги', '/users/rating', class: 'nav-link active' %>
          </li>
          <div class="dropdown">
            <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Соревнования
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                  <%= link_to 'Речь', '/users/competition_speech', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Эффективность', '/users/competition_productivity', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Сон', '/users/competition_sleep', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Питание', '/users/competition_nutrition', class: 'nav-link active' %>
              </li>
            </ul>
          </div>
          <li class="nav-item">
              <%= link_to 'Задания', '/tasks/tasks_data', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Редактирование', '/tasks/edit', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Обработка предложений заданий', '/tasks/react', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Выход', sessions_destroy_path, data: {turbo_method: :delete}, class: 'nav-link active' %>
          </li>
        <% else %>
          <% if !User.find(session[:user_id]).tested %>
          <li class="nav-item">
              <%= link_to 'Тестирование', '/tasks/test', class: 'nav-link active' %>
          </li>
          <% end %>
          <% if User.find(session[:user_id]).tested %>
          <li class="nav-item">
              <%= link_to 'Задания', '/tasks/task', class: 'nav-link active' %>
          </li>
          <% end %>
          <% if User.find(session[:user_id]).rating > 1000 %>
          <li class="nav-item">
              <%= link_to 'Предложить задание', '/tasks/offer', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Предложенные задания', '/tasks/offer_results', class: 'nav-link active' %>
          </li>
          <% end %>
          <div class="dropdown">
            <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Соревнования
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                  <%= link_to 'Речь', '/users/competition_speech', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Эффективность', '/users/competition_productivity', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Сон', '/users/competition_sleep', class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Питание', '/users/competition_nutrition', class: 'nav-link active' %>
              </li>
            </ul>
          </div>
          <li class="nav-item">
              <%= link_to 'Рейтинги', '/users/rating', class: 'nav-link active' %>
          </li>
          <li class="nav-item">
              <%= link_to 'Профиль', '/users/profile', class: 'nav-link active' %>
          </li>
          <% if User.find(session[:user_id]).rating > 1000 %>
          <li class="nav-item">
              <%= link_to 'Вывод средств', '/users/withdrawal', class: 'nav-link active' %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Выход', sessions_destroy_path, data: {turbo_method: :delete}, class: 'nav-link active' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
